{{ define "main" }}
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="md:col-10 lg:col-7 text-center">
          <div class="flex flex-row place-content-center mb-6">
            <div class="">
              {{ partial "image" (dict "Src" .Params.image "Context" .Page "Alt" .Title "Class" "rounded-full" "Size" "270x270") }}
            </div>
          </div>
          <h2 class="text-5xl mb-6 font-secondary">{{ .Title }}</h2>
          <div class="content text-xl">{{ .Content }}</div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
